config/cmus/*
config/cmus/playlist/*
config/obsidian/plugins/*
!config/cmus/autosave
config/nvim/plugins/installed/*
resources/documents/todo.md
resources/documents/guides-ideas.md
scripts/bin/nmcli-wifi
