# ======================================================================#
#
#
#   ██████╗ ██╗████████╗██╗ ██████╗ ███╗   ██╗ ██████╗ ██████╗ ███████╗
#  ██╔════╝ ██║╚══██╔══╝██║██╔════╝ ████╗  ██║██╔═══██╗██╔══██╗██╔════╝
#  ██║  ███╗██║   ██║   ██║██║  ███╗██╔██╗ ██║██║   ██║██████╔╝█████╗  
#  ██║   ██║██║   ██║   ██║██║   ██║██║╚██╗██║██║   ██║██╔══██╗██╔══╝  
#  ╚██████╔╝██║   ██║   ██║╚██████╔╝██║ ╚████║╚██████╔╝██║  ██║███████╗
#   ╚═════╝ ╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
#
#
# ======================================================================#

# cmus
config/cmus/*
!config/cmus/rc

# nvim
config/nvim/plugins/installed/*
config/nvim/lua/plugins/prompts/*

# obsidian
config/obsidian/workspace.json
config/obsidian/workspace-mobile.json
config/obsidian/graph.json
config/obsidian/backlink.json
config/obsidian/plugins/*

# zsh
config/zsh/.histfile
config/zsh/.zcompdump
config/zsh/zsh_history
config/zsh/zsh-autosuggestions
config/zsh/zsh-syntax-highlighting
config/zsh/zsh-autocomplete

# extra
config/yazi/*
config/touchegg/.touchegg:0.lock
config/tmux/plugins/
config/vencord/dist
