# ======================================================================#
#
#
#   ██████╗ ██╗████████╗██╗ ██████╗ ███╗   ██╗ ██████╗ ██████╗ ███████╗
#  ██╔════╝ ██║╚══██╔══╝██║██╔════╝ ████╗  ██║██╔═══██╗██╔══██╗██╔════╝
#  ██║  ███╗██║   ██║   ██║██║  ███╗██╔██╗ ██║██║   ██║██████╔╝█████╗  
#  ██║   ██║██║   ██║   ██║██║   ██║██║╚██╗██║██║   ██║██╔══██╗██╔══╝  
#  ╚██████╔╝██║   ██║   ██║╚██████╔╝██║ ╚████║╚██████╔╝██║  ██║███████╗
#   ╚═════╝ ╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
#
#
# ======================================================================#

# cmus configurations
config/zsh/.histfile

# cmus configurations
!config/cmus/autosave

config/cmus/*
config/cmus/playlist/*

# obsidian configurations
config/obsidian/plugins/*
config/obsidian/themes/*

# vencord configurations
config/vencord/dist

# nvim configurations
config/nvim/plugins/installed/*

# resource documents
resources/documents/todo.md
resources/documents/guides-ideas.md

# scripts
scripts/bin/nmcli-wifi
