0 22 * * * DISPLAY=:0.0 /usr/bin/redshift -O 4000
0 20 * * * /home/druxorey/.local/bin/dotbak && notify-send -u low "Dotfiles Backed"
0 22 * * 0 source ~/.zshrc && clean-obsidian && notify-send -u low "Obsidian Cleaned"
