# Copy this file to 'drxbak.yaml' and customize. Ignored by Git.
#
# Rules:
# - Directories MUST end with '/' (e.g. ~/.config/kitty/).
# - Files MUST NOT end with '/' (e.g. ~/.bashrc).
# - Paths are automatically routed in the repo:
#   - Inside .config/ -> parent/config/
#   - Inside .local/  -> parent/local/
#   - Inside home     -> parent/home/
#   - Outside home    -> parent/extras/
#   - .obsidian paths -> parent/config/obsidian (special exception)

flavour: temporal

core:
  - source: "~/.bashrc"
  - source: "~/.bash_profile"
  - source: "~/.gitconfig"
  - source: "~/.config/cmus/rc"
  - source: "~/.config/fastfetch/"
  - source: "~/.config/kitty/"
  - source: "~/.config/mods/"
  - source: "~/.config/nvim/"
  - source: "~/.config/oh-my-posh/"
  - source: "~/.config/tmux/"
    exclude:
      - "plugins/"
  - source: "~/.config/yazi/"
    exclude:
      - "gvfs.private"
      - "plugins"
  - source: "~/.config/zsh/"
    exclude:
      - "fzf-tab"
      - "zsh-autosuggestions"
      - "zsh-syntax-highlighting"
      - "secrets.zsh"
  - source: "~/.local/share/crater/"
  - source: "~/Documents/A1 Obsidian/.obsidian/"
    exclude:
      - "plugins"
      - "workspace.json"
      - "workspace-mobile.json"
      - "graph.json"
      - "backlink.json"

temporal:
  - source: "~/.config/xxx/"
